# Directories
__pycache__/
checkpoints/
processed/
tempaudio/
outputs/
Misc/
Old/
friday.egg-info/
models/

# Files
requirements_frozen.txt
requirements_mark2.txt
Inference_LJSpeech.ipynb
pytest.ini
context_memory.json
conversation_memory.json

# Audio files
*.wav

# Log files
*.log

# Python
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE
.vscode/
.idea/


docs/